*{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style:normal;
}

.navbar .dropdown-menu {
  background-color: #1498EB; 
  border: none; 
}

.navbar .dropdown-item {
  color: white; 
}

.navbar .dropdown-item:hover {
  background-color: #7face1; 
  color: white; 
}
.navbar .dropdown-toggle::after {
  display: none;
}
#logo{
border-radius:15%
}
#navintec{
background-color: #7FACE1 !important;
}
#colornav{
color: white;
font-weight: bold;
}

#colornav1{
color: white;
font-weight: bold;
}

#colornav:hover {
  color: black; 
}

#foter {
  background-color: #3E72D6;
}

#botonfoter {
  background-color: #D2DDDF;
  color: #3E72D6;
  font-weight: bold;
}

#botonfoter:hover {
  background-color: #d9d9d9;
  color: #000000;
  font-weight: bold;
}

.iconos {
  font-size: 31px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #D2DDDF;
  color: #3E72D6;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.iconos:hover {
  background-color: #d9d9d9;
  color: #000000;
}

.iconos1 {
  font-size: 35px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #D2DDDF;
  color: #3E72D6;
  width: 75px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.iconos1:hover {
  background-color: #d9d9d9;
  color: #000000;
}


.card{
  align-items: center;
}
.card-body {
    text-align: center;
    padding: 15px;
}
.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-weight: bold;
    color: #0056b3;
    /*font-size: 1.2em;*/
}
.card-text {
    font-size: 1em;
    color: #555;
    font-weight: normal;
}

#main-container {       /*ancho del div general*/
    max-width: 1300px;
    padding-bottom: 20px;
}

#main-title {
    color: #3E72D6;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}
#main-description {
    font-size: 1.1em;
    font-weight: 600;
    color: #3f444c;
    max-width: 700px;
    margin: 0 auto;
}

.section-title { /*titulo*/
    background-color: #1498eb;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* Centra y limita el tamaño de las imágenes SVG */
/*.svg-img {
    width: 70%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}*/

#svg{
width: 67%; 
height: auto;
margin-bottom: 15px;
}


#section-basics, 
#section-backend,
#section-frontend{
  font-size: 29px;
}

#frontend-content .card,
#backend-content .card {
    border: none;
    background-color: #4D72D6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.2s;

}
#basics-content .card {
    border: none;
    background-color: #4D72D6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s;

}

#basics-content .card:hover,
#frontend-content .card:hover,
#backend-content .card:hover {
    transform: translateY(-5px);
}

#frontend-content .card{
    background-color:#fff;
}


#frontend-content img,
#backend-content img {
    max-width: 85%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

#frontend-content p,
#backend-content p, #basics-content p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: white;
}
#frontend-content p{
    color:#4D72D6;
}
.section-content {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}



/*estilos tarjetas*/
.overlay-gradient {
width: 100%;
padding: 10px;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0) 70% ); /*top*/
text-align: center;
}

#cartas{
color: white;
display: inline;
}
/*
.card {
margin: 10px;
}*/ 

#cardho{
  margin: 10px;
}

#testimonio {
  color: #3E72D6;
  font-size: 26px;
  font-weight: bold;
  display: block; /* Cambiado de inline-flex a block */
  margin-bottom: 20px; /* Agrega margen para separación */
}


@media (max-width: 600px) {
  #foter {
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: center;
    gap: 10px; 
  }

  .navbar-brand, .iconos1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; 
  }

  #botonfoter {
    font-size: 14px;
    padding: 8px 12px;
    width: auto;
  }

  .iconos {
    width: 40px; 
    height: 40px;
    margin: 0 3px;
    font-size:25px;
  }

.iconos1 {
    width: 85px; 
    height: 40px;
    margin: 0 3px;
    font-size:25px;
  }

  #logofooter {
    width: 145%; 
    height: 40px;
  }
}


@media (max-width: 576px) { 
  #logo {
    width: 110px; 
    height: 50px;
  }

  #colornav1 {
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
  }

  #hamburger-toggler {
    margin-left: auto;
  }

  .navbar-collapse {

    padding: 15px;
  }

  .navbar-nav .nav-link {
    color: white !important;
    font-size: 14px;
    padding: 8px 0; 
  }

  .navbar-nav {
    text-align: center; 
  }

  #main-title{
    font-size: 33px;
  }
  #section-basics, 
  #section-backend,
  #section-frontend{
    font-size: 22px;
  }
}



#backend-content,#basics-content,
#frontend-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

#backend-content .col-md-6 {
  display: flex;
 /* flex-direction: column;*/
  justify-content: center;
}

.backend-img ,.frontend-img{
  max-width: 100%;
  height: 100%;
  object-fit: contain; /* Mantiene la proporción */
  display: block;
  margin: auto; /* Centra la imagen */
}

.card {
  height: 100%;  /* Se asegura de que la tarjeta ocupe todo el espacio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra el contenido de la tarjeta */
}

.card-body {
  flex-grow: 1;
}

#videop{
  border-radius: 12px;
  height: auto;
  width: 580px
}


@media (max-width: 576px) {
  #videop {
    max-width: auto;/* Aún más pequeño en pantallas pequeñas */
    width: 100%;
  }

  #frontend-content img,
#backend-content img {
    max-width: 99%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}
#frontend-content p,
#backend-content p, #basics-content p {
    font-size: 16px;
}
}
